{% extends 'base.html' %}

{% block content %}
<style>
    body{
        background-color:white;
    }
</style>
<div style="color:white;max-width: 600px; margin: 50px auto; background-image : linear-gradient(green, darkgreen, green); border-radius: 8px; padding: 20px; box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1); color:#white;">
    <h2 style="text-align: center; margin-bottom: 20px;">Contact Us</h2>
    <form method="post">
        {% csrf_token %}
        <div style="margin-bottom: 15px;">
            <label for="{{ form.name.id_for_label }}" style="display: block; font-weight: bold; margin-bottom: 5px;">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
        <div style="margin-bottom: 15px;">
            <label for="{{ form.email.id_for_label }}" style="display: block; font-weight: bold; margin-bottom: 5px;">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <div style="margin-bottom: 20px;">
            <label for="{{ form.message.id_for_label }}" style="display: block; font-weight: bold; margin-bottom: 5px;">{{ form.message.label }}</label>
            {{ form.message }}
        </div>
        <div style="text-align: center;">
            <button type="submit" style="background-color: white; color: black; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;font-weight:bolder;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
