{% extends 'base.html' %}

{% block content %}
<div style="color:#00712D;max-width: 600px; margin: 50px auto; background-color: #D5ED9F; border-radius: 8px; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); color:#00712D;">
    <h2 style="text-align: center; margin-bottom: 20px;">Contact Us</h2>
    <form method="post">
        {% csrf_token %}
        <div style="margin-bottom: 15px;">
            <label for="{{ form.name.id_for_label }}" style="display: block; font-weight: bold; margin-bottom: 5px;">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
        <div style="margin-bottom: 15px;">
            <label for="{{ form.email.id_for_label }}" style="display: block; font-weight: bold; margin-bottom: 5px;">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <div style="margin-bottom: 20px;">
            <label for="{{ form.message.id_for_label }}" style="display: block; font-weight: bold; margin-bottom: 5px;">{{ form.message.label }}</label>
            {{ form.message }}
        </div>
        <div style="text-align: center;">
            <button type="submit" style="background-color: #ffffff; color: #00712D; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
