{% extends 'base.html' %}
{% load static %}
{% load form_filters %}
{% block content %}
<style>
    .form-group{
        margin:20px;
    }
</style>
    <div class="container" style="padding:50px;background-color:#D5ED9F;color:black;border-radius:20px;font-weight:bold;width:80%;">
        <h2 class="text-center">Login</h2>
        <form method="post" class="form-login">
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.phoneNumber.id_for_label }}" class="form-label">Phone Number</label>
                {{ form.phoneNumber|add_class:"form-control" }}
                {{ form.phoneNumber.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                {{ form.password|add_class:"form-control" }}
                {{ form.password.errors }}
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
